[Unit]
Description=bandwidth monitoring service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/local/bin/pbandwidthd.pl
ExecStop=/usr/local/bin/pbandwidthd.pl stop
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
